body {
    background-color: lightblue;
  }
  
  .txtbox{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  .Button {
    background-color: #808080; /* Grey */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }