{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Productivity App Note Taking</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}"  >

        <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    </head>
    <body>
        <div class="main_div">
            <div class="main_window">
        <div id="header">
            
            <div id="name">Note Title</div>
            <div id="menubutton"><a id="menulink" href="#">&#9776</a></div>
            <div class="clear"></div>
        </div>
        <div id="container">
            <textarea id="area" rows="10" cols="50"></textarea>
        </div>
        <div id="controls">
            <p> <a href="javascript:display_saved_note();" class="button">Refresh</a>
                <a href="javascript:save();" class="button">Save</a>
                <a href="javascript:clear();" class="button">Clear</a></p>
        </div>
            </div>
            <div class="outer_col">
    <div class="pomodoro_timer">
	<div class="time_amount">2:59</div>
	<btn class="pomo_timer"> Start Pomodoro Timer </btn>
</div>
</div>
        </div>

    <div class="pomo_window">
	<input class="time_input" dir="rtl" maxlength="5" type="text"> <!--https://stackoverflow.com/questions/8354975/how-can-i-limit-possible-inputs-in-a-html5-number-element --><!-- https://stackoverflow.com/questions/12114570/how-to-align-texts-inside-of-an-input--> <!--https://stackoverflow.com/questions/7524855/right-to-left-text-html-input--> <!--https://www.w3schools.com/tags/att_input_maxlength.asp-->
	<div class="pomo_button_div">
		<btn id="start_timer_btn" class="pomo_start_button">START</btn>
		<btn id="end_timer_btn" class="pomo_start_button">END</btn>
	</div>
	<btn id="close_pomo_btn">X</btn>
</div>
    </body>
    <script src="{% static 'homepage.js' %}"></script>
</html>
